/web/robots.txt
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/config/config_dev.yml
/app/config/config_prod.yml
/app/config/parameters.yml
/composer.lock
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/deployment-config.json
/.ftpconfig
/nbproject/
/web/css/
/web/js/
