{% extends 'MarvelAssetsBundle:Default:base.html.twig' %}

{% block content %}
    <div id="content-header">
    	<div id="breadcrumb"> 
    		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> 
    	</div>
    	<h1>Selamat datang di Marvel Hunilo.com</h1>
  </div>
{% endblock %}